body {
	display: inline-block;
	padding-top: 56px;
	padding-bottom: 40px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Neucha', cursive;
}

.header {
	box-shadow: 0px 0px 3px 1px rgba(153,153,153,1);
}
.header .navbar-brand {
  padding: 0px;
  position: relative;
  font-size: 26px;
  font-weight: bold;
}
.header .navbar-brand svg {
  width: 32px;
  margin-right: 5px;
}

.content {
	display: inline-block;
	position: relative;
	padding: 5px;
}
.content .message {
	position: fixed;
	top: 40%;
	width: 100%;
	font-size: 32px;
	text-align: center;
	margin: auto;
	width: 50%;
	left: 25%;
	color: #999;
}
.content.has-image .message {
	display: none;
}
.content #drawing {
	position: absolute;
	cursor: crosshair;
}
.content img {
	position: absolute;
	top: 0;
	overflow: hidden;
}

rect.svg_select_boundingRect {
	stroke: transparent;
	stroke-dasharray: none;
	fill: transparent;
}

rect.canvas {
	fill: transparent;
	stroke-dasharray: none;
	stroke: #666;
}

rect.select {
	cursor: grab;
	fill: transparent;
	stroke: #000;
	stroke-dasharray: 5 5;
    stroke-opacity: 1.0;
    fill-opacity: 0.0;
    animation: selection 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
rect.svg_select_points:not(.svg_select_boundingRect) {
	fill: #fff;
}
@keyframes selection {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 10;
  }
}

.alert {
	position: fixed;
	width: 40vw;
    left: 30vw;
    top: 20vh;
    box-shadow: 0 1rem 3rem rgba(128,128,128,.500)!important;
}