body {
	padding-top: 56px;
	padding-bottom: 40px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Neucha', cursive;
}
body.app {
	display: inline-block;
}

.header {
	box-shadow: 0px 0px 3px 1px rgba(153,153,153,1);
}
.header .navbar-brand {
  padding: 0px;
  position: relative;
  font-size: 26px;
  font-weight: bold;
}
.header .navbar-brand svg {
  width: 32px;
  margin-right: 5px;
}
.footer {
	box-shadow: 0px 0px 3px 1px rgba(222,222,222,1);
}
.footer>small.w-15 {
	width: 10%;
}

.toast.alert {
	float: left;
	position: fixed;
    opacity: 0;
    animation: fadeinMessage 0.5s, stayMessage 3s 0.5s, fadeoutMessage 0.5s 3.5s;
    top: auto;
    bottom: 30px;
    height: 50px;
    max-height: 50px;
    text-align: center;
}
@keyframes fadeinMessage {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes stayMessage {
    from {opacity: 1;}
    to {opacity: 1;}
}
@keyframes fadeoutMessage {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}

.content {
	display: inline-block;
	position: relative;
	padding: 5px;
}
.content .message {
	position: fixed;
	top: 20%;
	font-size: 20px;
	margin: auto;
	width: 50%;
	left: 25%;
	color: #999;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
	box-shadow: 0px 0px 3px 1px rgba(200,200,200,0.5);
}
.content .message li {
	margin-bottom: 10px;
}
.content .message .badge-light {
	background-color: #dedede;
	font-weight: normal;
}
.content.has-image .message {
	display: none;
}
.content canvas,
.color-under-mouse.transparent {
	background-image: linear-gradient(45deg, #f5f5f5 25%, transparent 25%), linear-gradient(-45deg, #f5f5f5 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #f5f5f5 75%), linear-gradient(-45deg, transparent 75%, #f5f5f5 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
.content #drawing {
	position: absolute;
	cursor: crosshair;
}
.content img {
	position: absolute;
	top: 0;
	overflow: hidden;
}

.color-under-mouse {
	display: inline-block;
	margin: 1px 5px;
	width: 15px;
	height: 15px;
	border: 1px solid #999;
}

rect.svg_select_boundingRect {
	stroke: transparent;
	stroke-dasharray: none;
	fill: transparent;
}

rect.canvas {
	fill: transparent;
	stroke-dasharray: none;
	stroke: #666;
}

rect.select {
	cursor: grab;
	fill: transparent;
	stroke: #000;
	stroke-dasharray: 5 5;
    stroke-opacity: 1.0;
    fill-opacity: 0.0;
    animation: selection 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
rect.svg_select_points:not(.svg_select_boundingRect) {
	fill: #fff;
}
@keyframes selection {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 10;
  }
}

.alert {
	position: fixed;
	width: 40vw;
    left: 30vw;
    top: 20vh;
    box-shadow: 0 1rem 3rem rgba(128,128,128,.500)!important;
}

input[type="file"] {
    display: none;
}