body {
	display: inline-block;
	padding-top: 56px;
	padding-bottom: 40px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.header {
	box-shadow: 0px 0px 3px 1px rgba(153,153,153,1);
}

.navbar-brand {
  min-width: 35px;
  padding: 0px;
  padding-left: 5px;
  position: relative;
  .brand-paths {
    fill: $white;
  }
}

.content {
	display: inline-block;
	padding: 5px;
}

.content .message {
	position: fixed;
	top: 40%;
	width: 100%;
	font-size: 32px;
	text-align: center;
	margin: auto;
	width: 50%;
	left: 25%;
	color: #999;
}

.content.has-image .message {
	display: none;
}

.content #drawing {
	position: absolute;
	cursor: crosshair;
}

.content img {
	position: absolute;
}

rect.select,
rect.svg_select_boundingRect {
	cursor: grab;
	fill: transparent;
	stroke: #000;
	stroke-dasharray: 5 5;
    stroke-opacity: 1.0;
    fill-opacity: 0.0;
}
rect.svg_select_points {
	fill: #fff;
}